<div class="card card-body bg-dark text-white p-5 mt-4">
  <h1 class="display-3">Restaurante App!</h1>
  <p class="my-3">App para restaurantes <br> Modules: </p>
  <hr class="my-4" />
  <p>Platos principales: <br>Postres<br>Bebidas</p>
  <div>
    <a class="btn btn-primary btn-lg" href="/tasks/list" role="button">
      Tasks List
    </a>
  </div>
</div>